body {
    margin:0;
}




h1 {
    text-align: center;
}

ul {
    text-align: center;
}

.nav{
    border-width: 1px 0;
    list-style: none;
    margin: 23px;
    padding: 0;
    text-align: center;
    background-color: darkgrey;
    padding-top: 30px;
    padding-bottom: 30px;



}
.nav li{
    display: inline;
    padding-right: 120px;

}


img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    height:450;

    
}
#pic{
    position:absolute;
    margin-left:60px;

    top:85px;

    width:200px;
    height:70px;
}

#sub1{
    margin-top:30px;

    margin-left:200px;
    width:300px;
    height:375px;
}

#sub2{
    margin-top:-376px;
    
    width:300px;
    height:375px;
}

#sub3{
    margin-right:200px;
    margin-top:-376px;

    width:300px;
    height:375px;
}
#sub4{
    margin-left:200px;
    margin-top:34px;
    
    width:480px
    
}


h2{
    margin-left:850px;
    margin-top:-300px;
}

p {
   
    margin-left:850px;
    margin-top:85px;
    text-align:left;
   

}

div{
    margin-left:235px;
    background-color:darkgrey;
    margin-right:900px;
    padding:13px;
}

footer{
    border-width:1px 0;
    margin:23px;
    padding:0;
    padding-top:30px;
    padding-bottom:30px;
    background-color:darkgrey;
}